// radius
$border-radius-root: 0.25rem;
$map-radius: (
  0: 0,
  "sm": calc($border-radius-root / 2),
  "lg": calc($border-radius-root * 2),
  "xl": calc($border-radius-root * 6),
  "pill": 9999px,
  "circle": 50%,
);
$map-radius-class: (
  "radius-sm": fn-radius(sm),
  "radius-lg": fn-radius(lg),
  "radius-xl": fn-radius(xl),
  "radius-pill": fn-radius(pill),
  "radius-circle": fn-radius(circle),
);
