@mixin flex {
  display: flex;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-r-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-r-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-r-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flex-r-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-r-between-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-r-around-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-r-end-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-r-end-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flex-r-around-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin flex-r-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-c-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-c-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
