@use "./base/variables" as *;
@use "./base/function" as *;
@use "./base/mixin" as *;

// rounded
$map-rounded-class: (
  "rounded-sm": fn-rounded(sm),
  "rounded-lg": fn-rounded(lg),
  "rounded-xl": fn-rounded(xl),
  "rounded-pill": fn-rounded(pill),
  "rounded-circle": fn-rounded(circle),
);
@each $key, $value in $map-rounded-class {
  .#{$key} {
    border-radius: $value;
  }
}
@for $key from 1 through 66 {
  .rounded-#{$key} {
    border-radius: #{$key}px;
  }
}
