@use "./base/variables" as *;
@use "./base/function" as *;
@use "./base/mixin" as *;

@for $i from 1 through 66 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 1000 {
  .width-#{$i} {
    width: #{$i}px;
  }
  .height-#{$i} {
    height: #{$i}px;
  }
}

@each $key in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
  .weight-#{$key} {
    font-weight: $key;
  }
}

@each $key, $value in $map-radius-class {
  .#{$key} {
    border-radius: $value;
  }
}
@for $key from 1 through 66 {
  .radius-#{$key} {
    border-radius: #{$key}px;
  }
}
